*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: #0092cc;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: monospace, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: azure;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.header{
    background-color: blueviolet;
    width: 100%;
    padding: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
}

h1{
    margin-left: auto;
}

.books {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    /* grid-template-rows: repeat(auto-fill, minmax(1fr, 2fr)); */
    gap: 30px;
    margin: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    border: 4px solid white;
    border-radius: 10px;
    /* color: var(--text-color); */
}

.card:hover {
    box-shadow: 0px 0px 12px 2px whitesmoke;
}

.add{
    padding: 0px 10px;
    font-size: 40px;
    margin-left: auto;
    border: 4px solid white;
    border-radius: 10px;
    /* justify-self: flex-end; */
}